@import "tailwindcss";

.home-logo {
    color: grey;
}

.shopping-logo {
    color: grey;
}

.category{
    color: grey;
}

.profile {
    color: grey;
}

html {
    background-color: rgb(223, 222, 222);
}
